#slide {
box-sizing:border-box;
padding:9vw 0 0
}

.swiper {
width:100vw;
height:100%
}

.swiper-slide img {
display:block;
width:100%;
height:100%;
object-fit:cover
}

.slogan {
font-size:5vw;
font-family:Endfont,Nunito,sans-serif;
box-sizing:border-box;
padding:7vw 0;
font-weight:500;
letter-spacing:.35vw
}

.show {
width:100%;
display:flex;
flex-direction:column;
align-items:center;
padding:3vw 0
}

.show__title {
width:100%;
box-sizing:border-box;
padding:0 3vw;
display:flex;
justify-content:space-between;
align-items:flex-end
}

.show__title h1 {
font-size:4.5vw;
font-family:Endfont;
letter-spacing:.35vw
}

.show__title--link {
font-size:4.5vw;
color:#000
}

.show__all {
width:100vw;
display:flex;
justify-content:flex-start;
flex-wrap:wrap
}

.show__container {
width:45vw;
height:76vw;
padding-top:5vw;
padding-bottom:0!important
}

.show__container:nth-child(2n) {
padding:5vw calc(10vw/3) 5vw calc(10vw/6)
}

.show__container:nth-child(2n+1) {
padding:5vw calc(10vw/6) 5vw calc(10vw/3)
}

.show__box {
width:100%;
height:100%;
box-sizing:border-box;
color:#000;
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;
position:relative
}

.show__box:hover>.show__box--name {
text-decoration:underline
}

.show__box--img {
width:100%;
height:auto;
cursor:var(--menu-click)!important
}

.show__box--brand {
font-family:Endfont,Nunito,sans-serif;
font-size:3vw;
box-sizing:border-box;
padding:1vw 0 0 0;
color:#15cbcc!important
}

.show__box--sale-off {
background:#000;
color:#fff;
position:absolute;
top:0;
right:0;
font-weight:600;
font-size:4vw;

}

.show__box--name {
font-size:4.5vw;
text-align:center
}

.show__box--price {
width:65%;
color:#000;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:absolute;
bottom:2.5%
}

.show__price--cost {
width:100%;
font-weight:400;
font-size:3.5vw;
color:#999;
display:flex;
justify-content:center;
align-items:center;
text-decoration:line-through;
cursor:var(--menu-click)!important
}

.show__price--saled {
background:#f9476c;
width:100%;
box-sizing:border-box;
display:flex;
justify-content:center;
align-items:center;
font-size:5vw;
color:#ffff!important;
cursor:var(--menu-click)!important
}

.show__link {
background:#fff;
color:#000;
box-sizing:border-box;
border:.3vw solid #000;
padding:1vw 3vw;
font-size:5vw;
display:flex;
justify-content:center;
align-items:center;
text-decoration:none;
font-weight:700;
box-shadow:-2vw 2vw 0 #000
}

.seperate {
width:100%;
box-sizing:border-box;
border-top:.25vw solid #000;
height:8vw
}

@media only screen and (orientation:landscape) {
#slide {
padding:7vw 0 0
}

.swiper {
width:75vw
}

.slogan {
font-size:2.5vw;
padding:3.5vw 0 4vw;
letter-spacing:.35vw
}

.show {
padding:2vw 0
}

.show__title {
width:100%;
padding:0 3vw
}

.show__title h1 {
font-size:1.75vw
}

.show__title--link {
font-size:1.75vw
}

.show__all {
width:100%;
box-sizing:border-box;
padding:0 1vw
}

.show__container {
width:20vw;
height:32vw
}

.show__container:nth-child(2n) {
padding:2vw 2.25vw!important
}

.show__container:nth-child(2n+1) {
padding:2vw 2.25vw!important
}
.show__box--sale-off {
font-size: 1.5vw;
    
}
.show__box--brand {
padding:.5vw 0 0;
font-size: 1.5vw;
}
.show__box--name {
font-size: 1.5vw;
}
.show__price--cost {
font-weight:400;
font-size: 1.5vw;
}

.show__price--saled {
border-width:.1vw;
font-size: 2vw;
}

.show__link {
border-width:.15vw;
padding:0 1vw;
font-size:2vw;
font-weight:700;
box-shadow:-.75vw .75vw 0 #000
}

.seperate {
border-top-width:.05vw;
height:5vw
}
}