:root {
    --color-main: #f9476c;
    --background-all: #fff;
}


body {
    background: var(--background-all);
    position: relative;
    font-size: 3vw;
}


/* NOTICE */

#notice {
    background: #000000bb;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s;
    z-index: 10000;
    display: none;
}
.notice__overflay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: var(--mouse-click) !important;
}
.notice.notiExit {
    display: none;
}
.notice__info {
    background: #fff;
    color: #fff;
    width: 45vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vh 2.5vh 0 2.5vh;
    box-sizing: border-box;
    overflow: hidden;
}
.notice__info--header {
    width: 100%;
    height: 7vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-main);
    font-size: 4vh;
}
.notice__header--img {
    background: url('../img/logo-endoun-black.svg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 65% 50%;
    width: 30%;
    height: 100%;
}
.fa-times {
    cursor: var(--mouse-click) !important;
}
.notice__para {
    width: 100%;
    color: #000000;
    padding: 1vh 0 0.5vh 0;
    box-sizing: border-box;
    font-size: 2.25vh;
}
.notice__para--span {
    font-weight: 800;
}
.notice__para--span:nth-child(1) {
    color: #3b5998;
}
.notice__para--span:nth-child(2) {
    color: #f9476c;
}
.notice__para--endoun {
    font-family: Endfont, Nunito, sans-serif;
    color:  #15cbcc;
    letter-spacing: 0.15vh;
}
.notice__icon--last {
    color: #f9476c;
}
.notice__sign {
    width: 100%;
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.notice__sign--item {
    color: #09f;
}
.notice__sign--contact {
    color: #b5338a;
    font-size: 2.5vh;
    font-weight: 600;
    text-transform: uppercase;
}
.notice__sign--link {
    background: #fff;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0.2vh solid #00000025;
    border-radius: 10%;
}
.notice__sign--link:hover {
    border-color: #000;
}
.notice__sign--img {
    width: 70%;
    height: 70%;
    cursor: var(--mouse-click) !important;
}


/* IMAGE - INFO */
#image-info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* IMAGE */

#image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vw 0 0 0;
    box-sizing: border-box;
    /* display: none; */
}
.swiper {
    width: 80%;
    cursor: var(--mouse-scroll) !important;
}
.swiper-wrapper {
    width: 100%;
    cursor: var(--mouse-scroll) !important;
}
.swiper-slide {
    background: transparent;
    background-position: center;
    background-size: cover;
    /* display: inline; */
    cursor: var(--mouse-scroll) !important;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    /* border: 0.25vw solid #fff; */
    cursor: var(--mouse-scroll) !important;
}
.swiper-pagination {
    margin: -20% 0;
    z-index: 3;
    display: flex !important;
    justify-content: center !important;
}
.swiper-pagination span {
    background: #f9476c;
    width: 4vw;
    height: 4vw;
    box-shadow: 0 7vw 2vw -1.25vw #fff, 0 7vw 2.5vw 1vw #557a95cc;
    background-clip: padding-box;
    border: 1.5vw solid #fff;
    transform: rotateX(65deg);
    cursor: var(--mouse-click) !important;
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    background: #15cbcc !important;
    opacity: 1 !important;
}
.image__para {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 22% 0 10% 0;
    box-sizing: border-box;
}
.image__para--welcome {
    font-size: 130%;
}
.image__para--pro {
    color: #15cbcc;
    font-size: 7vw;
    font-weight: 600;
    font-family: Endfont, Nunito, sans-serif;
}


/* INFO */
#info {
    background-color: var(--background-all);
    width: 100%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 6% 3% 5% 3%;
    position: relative;
    border-top: 0.25vw solid #000000;
    /* display: none; */
}
.info__brand {
    font-family: Endfont;
    width: 100%;
    color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0 0 0;
    font-size: 130%;
    font-weight: 700;
    letter-spacing: 0.75vw;
}
.info__name {
    /* background: red; */
    width: 85%;
    font-size: 200%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5% 0 0 0;
    box-sizing: border-box;
}
.info__space {
    height: 5.5vw;
}
.info__sku {
    font-size: 125%;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.5vw 0 0.5vw 0;
    border-style: solid;
    border-color: #000;
    padding: 1% 2% 0.5% 2%;
}
.info__price {
    /* background: #f03; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
    width: 85%;
    height: 16vw;
    box-sizing: border-box;
    padding: 0.25vw 0 0 0;
    border: 0.5vw solid #A8B5FF;
    border-radius: 50vw 0 50vw 0;
}
.info__priceAll {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 1.5vw 0.75vw 0;
}
#proSalePer {
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 0.25vw solid #000;
}
.proSalePer--item {
    color: #12b3b3;
}
#proPrice {
    background: #b8a5b8;
    color: #000;
    box-sizing: border-box;
    font-size: 3vw;
    padding: 0.5vw 0.75vw 0 0.75vw;
    font-weight: 600;
}
#proPriceSale {
    background-clip: content-box;
    font-size: 10vw;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0 2vw 0 0;
}
.info__market {
    width: 65%;
    padding: 7% 0 2% 0;
    box-sizing: border-box;
}
.info__market--time {
    background-clip: content-box;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time--item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 4.75vw;
    font-weight: 700;
}
.time__text {
    width: 100%;
    background: #b8a5b8;
    color: #fff;
    padding: 3% 0;
}
.info__text--item {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.info__text--item:hover {
    text-decoration: underline;
    cursor: var(--mouse-click) !important;
}
.time__clock {
    background: #000;
    width: 100%;
    color: #fff;
    border: 0.25vw solid #000000;
    padding: 3% 0;
    font-weight: 700;
    font-size: 5.25vw;
}
.info__size {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    padding: 6% 0% 4% 0%;
}
.info__size--para {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
}
.info__size--span {
    font-size: 150%;
    font-weight: 700;
    text-transform: uppercase;
}
.info__size--link {
    color: #000;
    font-size: 150%;
}
.info__form {
    width: 100%;
    padding: 4% 2% 0% 7%;
    box-sizing: border-box;
}
.info__form--item {
    display: inline-block;
    padding: 0% 3% 2% 3%;
}
.info__form--input {
    width: 5vw;
    height: 5vw;
    opacity: 0;
    cursor: var(--mouse-click) !important;
}
.info__form--number {
    padding: 1vw 4vw 0.85vw 1.5vw;
    font-size: 135%;
    box-sizing: border-box;
    position: relative;
    cursor: var(--mouse-click) !important;
    color: #aaa;
    font-family: Endfont, Nunito, sans-serif;
}
.info__form--number:hover {
    color: #000;
    box-sizing: border-box;
}
.info__form--number::before {
    background: transparent;
    content: '';
    width: 5vw;
    height: 5vw;
    border: 0.35vw solid #aaa;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -6vw;
    transform: translate(0, -50%);
}
.info__form--input:hover ~ .info__form--number::before,
.info__form--input:checked ~ .info__form--number::before {
    border-color: #000;
}
.info__form--input:checked ~ .info__form--number {
    color: #000;
    border-width: 0.5vw 0 0.5vw 0;
    border-style: solid;
    border-color: #000;
    background: #ff0;
}
.info__form--number::after {
    background-image: url('../img/icon-endoun-black.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    content: '';
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: absolute;
    top: 52.85%;
    left: -5.6vw;
    transform: translate(0, -50%) scale(1);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.5s;
}
.info__form--input:checked ~ .info__form--number::after {
    opacity: 1;
}
.info__size--small {
    font-size: 2.5vw;
    box-sizing: border-box;
    padding: 3vw 5vw;
}
.info__buy {
    background: transparent;
    /* background: #15cbcc; */
    width: 55vw;
    height: 15vw;
    color: #000;
    font-size: 200%;
    font-family: Endfont, 'Nunito', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border-right: 1vw solid #000;
    padding: 0.5vw 0 0 1vw;
    text-transform: uppercase;
    letter-spacing: 0.75vw;
    cursor: var(--mouse-click) !important;
    z-index: 2;
    transition: color 0.35s ease-in-out 0s;
}
.info__buy::before,
.info__buy::after {
    content: '';
    position: absolute;
    top: 0;
}
.info__buy::before {
    background: #ff0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    box-sizing: border-box;
    border-width: 1vw 0 1vw 1vw;
    border-style: solid;
    border-color: #000;
}
.info__buy::after {
    right: -1vw;
    width: 1vw;
    height: 15vw;
    background-color: #000;
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 0;
    transition: width 0.35s ease-in-out 0s, 
                transform 0.25s ease-in-out 0.35s, 
                z-index 0s ease-in-out;
}
.info__buy:hover, .info__buy:active {
    color: #fff;
    transition: color 0.25s ease-in-out 0.25s;
}
.info__buy:hover::after, .info__buy:active::after {
    z-index: -1;
    transform: rotate(0deg);
    width: 100%;
    transition: transform 0.2s ease-in-out, 
                width 0.35s ease-in-out 0.2s;
}
.plugin-save-like-share {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0 4% 0;
}
#fb-save {
    cursor: var(--mouse-click) !important;
}


/* ADD - VIDEO */
#add-video {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ADD */
#add {
    background: var(--background-all);
    width: 100%;
    padding: 0% 3% 15% 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.add__add {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 7% 0;
}
.add__add--title {
    color: #000000;
    width: 100%;
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    font-weight: 700;
    text-transform: uppercase;
}
.add__line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1vw 0 0 0;
}
.add__line--item {
    background: #15cbcc;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    justify-self: center;
    position: relative;
    box-shadow: inset 0 0 3vw #fff;
    font-size: 8vw;
    font-weight: 700;
    animation: add__line 10s linear infinite;
}
@keyframes add__line {
    0% {
        background: conic-gradient(#eee 0deg, #15cbcc 0deg);
    }
    10% {
        background: conic-gradient(#eee 36deg, #15cbcc 0deg);
    }
    20% {
        background: conic-gradient(#eee 72deg, #15cbcc 0deg);
    }
    30% {
        background: conic-gradient(#eee 108deg, #15cbcc 0deg);
    }
    40% {
        background: conic-gradient(#eee 144deg, #15cbcc 0deg);
    }
    50% {
        background: conic-gradient(#eee 180deg, #15cbcc 0deg);
    }
    60% {
        background: conic-gradient(#eee 216deg, #15cbcc 0deg);
    }
    70% {
        background: conic-gradient(#eee 252deg, #15cbcc 0deg);
    }
    80% {
        background: conic-gradient(#eee 288deg, #15cbcc 0deg);
    }
    90% {
        background: conic-gradient(#eee 324deg, #15cbcc 0deg);
    }
    100% {
        background: conic-gradient(#eee 360deg, #15cbcc 0deg);
    }
}
.add__line--item::after {
    background: #fff;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: add__line--after 10s linear infinite;
    box-shadow: 0 0 3vw #fff;
}
@keyframes add__line--after {
    0% {
        content: '10';
    }
    10% {
        content: '9';
    }
    20% {
        content: '8';
    }
    30% {
        content: '7';
    }
    40% {
        content: '6';
    }
    50% {
        content: '5';
    }
    60% {
        content: '4';
    }
    70% {
        content: '3';
    }
    80% {
        content: '2';
    }
    90% {
        content: '1';
    }
    100% {
        content: '0';
    }
}
.add__addAll {
    /* background: #f03; */
    width: 100%;
    height: 96vw;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.add__add--pro {
    text-decoration: none;
    width: 100%;
    height: 30%;
    display: flex;
    box-sizing: border-box;
    padding: 2% 2%;
    cursor: var(--mouse-click) !important;
}
.add__add--pro:hover {
    background: #b8a5b8;
}
.add__add--pro:hover > .add__pro--name {
    color: #fff;
    text-decoration: underline;
}
.add__pro--img {
    width: auto;
    height: 100%;
    cursor: var(--mouse-click) !important;
}
.add__pro--name {
    color: #000000;
    font-size: 150%;
    font-weight: 600;
    width: 100%;
    padding: 3% 3% 3% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: var(--mouse-click) !important;
}
.add__prevnext {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.add__prevnext--item {
    width: 20%;
    height: 100%;
    padding: 1% 0;
    color: #000;
    font-size: 150%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.5vw solid #b8a5b8;
    border-radius: 5%;
}
.add__prevnext--item:hover {
    background: #b8a5b8;
    color: #fff;
}
.add__prevnext--brand {
    background: #fff;
    font-size: 150%;
    color: var(--color-main);
    font-weight: 500;
    letter-spacing: 0.5vw;
    text-decoration: underline;
    cursor: var(--mouse-click) !important;
}
.add__prevnext--brand:hover {
    color: #15cbcc;
}



/* VIDEO */
#video {
    /* background: #f0f; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3% 3% 3%;
}
.video__intro {
    width: 100%;
    text-align: center;
    font-size: 180%;
    font-weight: 700;
    padding: 0 0 6% 0;
    text-transform: uppercase;
}
.video__iframe {
    width: 93.5vw;
    height: 52.59375vw;
}
.video__para {
    font-size: 130%;
    box-sizing: border-box;
    padding: 6% 1% 5% 1%;
}
.video__para--endoun {
    font-family: Endfont, Nunito, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2vw;
}
.video__para--enderuyen {
    color: #bf7dd7;
}
.video__para--slogan {
    font-weight: 700;
}

@media only screen and (orientation: landscape) {
    .notice__info {
        width: 60vh;
        padding: 0 4vh;
    }
    .notice__info--header {
        height: 10vh;
    }
    .notice__para {
        font-size: 2.5vh;
        padding: 0.25vh 0 0.5vh 0;
    }
    /* IMAGE - INFO */
    #image-info {
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0 0 2vw 0;
        border-bottom: 0.1vw solid #000;
    }
    
    /* IMAGE */
    #image {
        width: 50%;
        padding: 8vw 0 0 0;
    }
    .swiper {
        width: 70%;
    }
    .swiper-pagination {
        margin: -18% 0;
    }
    .swiper-pagination span {
        width: 1.8vw;
        height: 1.8vw;
        box-shadow: 0 3vw 1vw -0.5vw #fff, 0 3vw 1.25vw 0vw #557a95;
        border-width: 0.75vw;
        transform: rotateX(60deg);
    }
    .image__para {
        background: #fff;
        width: 80%;
        padding: 25% 0 2vw 0;
        box-shadow: 0 5vw 0 -10vw #000;
    }
    .image__para--welcome {
        font-size: 60%;
    }
    .image__para--pro {
        font-size: 3.5vw;
        font-weight: 800;
        box-sizing: border-box;
        padding: 3vw 0 0 0;
    }
    
    /* INFO */
    #info {
        width: 50%;
        padding: 6vw 1% 3% 1%;
        position: relative;
    }
    .info__brand {
        width: 100%;
        padding: 1% 0 0 0;
        font-size: 50%;
        letter-spacing: 0.15vw;
    }
    .info__name {
        width: 85%;
        font-size: 60%;
        padding: 0.5% 0 0 0;
    }
    .info__sku {
        font-size: 40%;
        padding: 1% 2% 0.5% 2%;
        border-width: 0.15vw 0 0.15vw 0;
    }
    .info__space {
        height: 1.5vw;
    }
    
    .info__price {
        width: 62%;
        height: 6vw;
        border-width: 0.2vw;
        padding: 0.25vw 0 0 0;
    }
    .info__priceAll {
        padding: 0 0.75vw 0 0;
        font-size: 1vw;
    }
    #proSalePer {
        border-top: 0.1vw solid #000;
    }
    #proPrice {
        font-size: 1vw;
        padding: 0.15vw 0.25vw 0 0.25vw;
    }
    #proPriceSale {
        font-size: 3.5vw;
        padding: 0 1vw 0 0;
    }
    .info__market {
        width: 45%;
        padding: 5% 0 2% 0;
    }
    .info__market--time {
        width: 100%;
    }
    .time--item {
        font-size: 55%;
        font-weight: 700;
    }
    .time__text {
        padding: 2% 0;
        font-weight: 700;
    }
    .time__clock {
        font-weight: 700;
        border-width: 0.1vw;
    }
    .info__size {
        width: 85% !important;
        padding: 3% 0 2% 0;
    }
    .info__size--para {
        width: 100%;
        padding: 0 6%;
    }
    .info__size--span {
        font-size: 50%;
        font-weight: 700;
    }
    .info__size--link {
        color: #000000;
        font-size: 50%;
    }
    .info__form {
        width: 100%;
        padding: 0 0 0 8%;
    }
    .info__form--item {
        display: inline-block;
        padding: 0vw 0.5vw 0 0.25vw;
    }
    .info__form--input {
        width: 1.5vw;
        height: 1.5vw;
    }
    .info__form--number {
        padding: 0.25vw 2vw 0.25vw 0.5vw;
        font-size: 50%;
        font-weight: 700;
    }
    .info__form--input:checked ~ .info__form--number {
        border-width: 0.15vw 0 0.15vw 0;
    }
    .info__form--number::before {
        width: 1.5vw;
        height: 1.5vw;
        border-width: 0.15vw;
        top: 50%;
        left: -1.75vw;
        transform: translate(0, -50%);
    }
    .info__form--number::after {
        width: 1.5vw;
        height: 1.5vw;
        top: 52.7%;
        left: -1.575vw;
    }
    .info__size--small {
        font-size: 1vw;
        padding: 1vw 2.5vw;
    }
    .info__buy {
        width: 18vw;
        height: 5vw;
        font-size: 50%;
        font-weight: 800;
        border-right: 0.35vw solid #000;
        padding: 0.1vw 0 0 0;
        letter-spacing: 0.35vw;
    }
    .info__buy::before {
        width: 47%;
        height: 100%;
        border-width: 0.35vw 0 0.35vw 0.35vw;
    }
    .info__buy::after {
        right: -0.3vw;
        width: 0.35vw;
        height: 5vw;
    }
    .plugin-save-like-share {
        padding: 8% 0 3% 0;
    }
    .info__icon {
        display: none;
    }
    
    
    /* ADD - VIDEO */
    #add-video {
        flex-direction: row;
        align-items: flex-start;
        padding: 7vw 0 0 0;
    }
    
    
    /* ADD */
    #add {
        width: 50%;
        padding: 0% 5% 5% 5%;
    }
    .add__add {
        padding: 0 0 7% 0;
    }
    .add__add--title {
        padding: 0 0 2vw 0;
        font-size: 80%;
    }
    .add__line--item {
        width: 8vw;
        height: 8vw;
        box-shadow: inset 0 0 0.75vw #fff;
        font-size: 3vw;
    }
    .add__line--item::after {
        box-shadow: 0 0 0.75vw #fff;
    }
    .add__addAll {
        height: 31vw;
        padding: 6.25% 0 0% 0;
    }
    .add__add--pro {
        height: 30%;
        padding: 2% 2%;
    }
    .add__pro--name {
        font-size: 50%;
        font-weight: 600;
        padding: 3% 3% 3% 5%;
    }
    .add__prevnext {
        /* background: #f03; */
        justify-content: space-evenly;
        padding: 0 5%;
    }
    .add__prevnext--item {
        width: 18%;
        display: flex !important;
        flex-wrap: nowrap !important;
        padding: 1% 0;
        font-size: 50%;
        border-radius: 5%;
        border-width: 0.25vw;
    }
    .add__prevnext--brand {
        font-size: 50%;
        font-weight: 500;
        letter-spacing: 0.5vw;
        display: inline-block;
    }
    
    
    /* VIDEO */
    #video {
        width: 50%;
        box-sizing: border-box;
    }
    .video__intro {
        font-size: 80%;
        padding: 0 0 7.3% 0;
    }
    .video__iframe {
        width: 42vw;
        height: 23.625vw;
    }
    .video__para {
        font-size: 50%;
        padding: 7% 2% 0% 2%;
        box-sizing: border-box;
    }
}
    
@media only screen and (min-width : 768px) {
    @media only screen and (orientation: portrait) {
        #image {
            padding: 25vw 0 0 0;
        }
        .swiper {
            width: 65%;
        }
        .swiper-pagination {
            margin: -28% 0;
        }
        .add__addAll {
            height: 80vw;
        }
        .video__para {
            font-size: 3vw;
        }
    }
}